* {
    margin: 0;
    padding: 0;
}

.navbar {
    margin: 1vw;
    margin-top: 0;
    padding: 1vh;
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: right;
    position: relative;
    left: 20vw;
    flex-wrap: wrap;
    flex-flow: row wrap;
    /*background-color: aqua;*/
}
.item {
    margin: 1vw;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}
.order-1 {
    margin-right: auto;
}